body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: Black;
}

/* Header Section */

header {
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  background-color: Black;
}

.logo img {
  padding-left: 10px;
  height: 50px;
  padding-top: 5px;
}

nav {
  display: inline;
  margin-left: 710px;
}

nav span {
  margin: 0px 10px 0px 10px;
}


span a {
  display: inline-flex;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

/* Main Content Container */

.page1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  margin: auto;
}

.text {
  background-color: Black;
  width: 1200px;
  display: block;
  flex-direction: column;
  justify-content: center;
}

.boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Body Section */

#store {
  width: 1200px;
  height: 700px;
  padding-top: 70px;
  margin: auto;
}
.image {
  padding: 5px;
}

.image img {
  height: 200px;
  margin: 10px;
  display: block;
}
.image span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.text h2 {
  text-align: center;
  background-color: Black;
}
.text h4 {
  text-align: center;
  background-color: Black;
}

#store h4 {
  text-align: center;
  background-color: Black;
}

#store h2 {
  text-align: center;
  background-color: Black;
}

/* Second Section */

.locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 550px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}

#locations {
  text-align: center;
}

#addres {
  text-align: center;

  display: flex;
  justify-content: space-around;
  align-content: center;
  align-content: center;
  margin-left: 40px;
  flex-direction: row;
  margin-bottom: 100px;
}

.Downtown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.East-Bayside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.Oakdale {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}
